.task-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 700px;
}

.task-list-outer {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-height: 500px;
    width: 100%;
    min-height: 500px;
}

.task-list-inner {
    position: relative;
    width: 100%;
    border: solid 1px #b8bcdd;
    border-radius: 10px;
    max-height: 500px;
    min-height: 500px;
    overflow-y: scroll;
    background: #dbdef7;
}

.task-list {
    display: flex;
    flex-direction: column-reverse;
}

.task-list-outer::after, .task-list-outer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    background: linear-gradient(#cccfec, #b8bcdd00);
    z-index:9;
    pointer-events: none;
}

.task-list-outer::after {
    top: 0;
    left: 0;
}

.task-list-outer::before{
    bottom: 0;
    left: 0;
    transform: rotate(180deg)
}

.task-list-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.empty-task-list-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    min-height: inherit;
}