.list-inner {
    max-height: 80vh;
    overflow-y: scroll;
    position: relative;
}


.list-header {
    width: calc(100% - var(--scrollbar-width));
    padding: var(--space--s) var(--space--l);
    display: flex;
    align-items: center;
    gap: var(--space--l);
    color: var(--primary-color--900);
    box-shadow: 3px 3px 5px var(--primary-color--700-alpha)
}

.list-heading {
    flex: 2;
    font-size: var(--text--m);
    font-weight: bold;
    color: var(--primary-color--900);
    text-align: left;
    outline: none;
    background: none;
    border:none;
    cursor: pointer;
}

.description-heading {
    flex: 6;
}

.priority-heading {
    justify-content: center;
    flex: 1;
    text-align: center;
}

.category-heading {
    flex: 2;
}

.list-heading-caret {
    margin-left: var(--space--xxs);
    font-size: var(--text--s);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.list-heading:hover .list-heading-caret {
    opacity: 1;
}

.caret-visible {
    opacity: 1;
}

.caret-up {
    transform: rotate(180deg);
}

.caret-down {
    transform: rotate(0deg);
}