.task{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    font-size: 1.6rem;
    padding: 14px 20px;
}

.task-container {
    display: flex;

    gap: 10px;
    align-items: flex-start;
    flex-direction: column;
}

.task-container-info {
    flex-grow: 1
}

.task-container-descriptionription {
    flex-grow: 4;
}

.task-controls {
    display: flex;
    gap: 10px;

}

.task:nth-child(odd) {
    background-color:hsl(233, 95%, 95%);
}

.task:nth-child(even) {
    background-color:hsl(233, 95%, 97%);
}


.task-description {
    text-align: left;
}

.task-date, .task-till {
    margin: 10px 0;
    color: hsl(232, 42%, 57%);
}

.task-category {
    font-weight: bold;
    min-width: 80px;
    max-width: 80px;
}

