.task{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    font-size: 1.6rem;
    padding: 14px 20px;
    transition: filter .3s ease-in-out;
}

.task:hover {
    filter: brightness(1.1);
}

.task-container {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.task-container.task-info {
    flex-grow: 1;
    align-items: stretch;
    justify-content: space-around;
}

.task-description{
    overflow: hidden;
    white-space: normal;
    overflow-wrap: break-word;
    flex-grow: 4;
    flex-wrap: wrap;
}

.task-controls {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-grow: 1;
    align-items: stretch;
    min-width: 120px;
    max-width: 120px;
}

.task-controls--secondary {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-description-title {
    margin-bottom: 6px;
    font-weight: bold;
}

.task-description-text {
    overflow: hidden;
    white-space: normal;
    overflow-wrap: break-word;
}

.task:nth-child(odd) {
    background-color:hsl(233, 95%, 95%);
}

.task:nth-child(even) {
    background-color:hsl(233, 95%, 97%);
}


.task-description {
    text-align: left;
}

.task-date, .task-till {
    color: hsl(232, 42%, 57%);
    margin: 6px 0;
}

.task-category {
    font-size: 2rem;
    font-weight: bold;
}

