.list-item {
    padding: var(--space--s) var(--space--l);
    display: flex;
    align-items: center;
    gap: var(--space--l);
    color: var(--primary-color--900);
    box-shadow: 3px 3px 5px var(--primary-color--700-alpha)
}

.list-item:nth-child(odd) {
    background: var(--gradient-primary--100-200)
}

.list-item:nth-child(even) {
    background: var(--gradient-background)
}

.list-item-property {
    flex: 2;
}

.category {
    flex: 1;
    font-weight: bold;
    color: var(--primary-color--800)
}

.category-icon {
    color: var(--primary-color--500);
    margin-right: var(--space--xxs);
}

.description {
    flex: 4;
}

.priority {
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: var(--space--xs);
    text-align: center;
    
}

.priority::before {
    display: block;
    font-size: var(--text--xl);
    color: var(--primary-color--500);
}

.priority--high:before {
    content: '●●●';   
}


.priority--medium:before {
    content: '●●○';
}


.priority--low:before {
    content: '●○○';
}
