.list-item {
    padding: var(--space--m);
    display: flex;
    gap: var(--space--l);
    color: var(--primary-color--900)
}

.list-item:nth-child(odd) {
    background: var(--gradient-primary--100-200)
}

.list-item:nth-child(even) {
    background: var(--gradient-background)
}

.list-item-property {
    flex: 1;
}

.category {
    font-weight: bold;
    color: var(--primary-color--800)
}