.list-item {
    padding: var(--space--m);
    display: flex;
    align-items: center;
    gap: var(--space--l);
    color: var(--primary-color--900)
}

.list-item:nth-child(odd) {
    background: var(--gradient-primary--100-200)
}

.list-item:nth-child(even) {
    background: var(--gradient-background)
}

.list-item-property {
    flex: 2;
}

.category {
    font-weight: bold;
    color: var(--primary-color--800)
}

.priority {
    flex: 1;
    padding: var(--space--xs);
    color: var(--white);
    font-weight: bold;
    text-align: center;
    
}
.priority--high {
    background-color: rgb(176, 0, 12);
}

.priority--medium {
    background-color: rgb(190, 123, 0);
}

.priority--low {
    background-color: rgb(14, 116, 10);
}