.button {
    outline: none;
    border: none;
    font-weight: bold;
    background: none;
    transition: filter .3s ease-in-out;
    cursor: pointer;
}

.button--s {
    padding: var(--space--xs) var(--space--s);
    font-size: var(--text--xs)
}

.button--m {
    padding: var(--space--s) var(--space--m);
    font-size: var(--text--s)
}

.button--l {
    padding: var(--space--m) var(--space--l);
    font-size: var(--text--m)
}

.button:hover {
    filter: brightness(0.9);
}

.button:focus {
    outline: var(--border--m) var(--primary-color--500);
}

.button--primary {
    background: var(--gradient-primary--500-700);
    border: var(--border--s) transparent;
    font-weight: bold;
    color: white;
}

.button--secondary {
    border: var(--border--s) var(--primary-color--400);
    color: var(--primary-color--400);
    background: var(--gradient-primary--100-200);
}

.button--danger {
    border: var(--border--s) var(--warning-500);
    color: var(--warning-500);
    background: var(--gradient-warning);
}