.header {
    padding: 30px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.menu-item {
    position: relative;
    padding: 20px;
    border: solid 2px var(--primary-color);
    color: var(--primary-color);
    background: none;
    font-weight: bold;
    overflow: hidden;
    transition: color .3s ease-in-out;
}

.menu-item::before {
    content: '';
    position: absolute;
    inset: 0;
    top: 100%;
    background: var(--gradient-primary--500-700);
    transition: top .3s ease-in-out;
    z-index: -1;
}

.menu-item:hover, .menu-item--active {
    color: var(--white);
}

.menu-item:hover::before, .menu-item--active::before {
    top: 0%;
}

.menu-item:focus {
    outline: solid 3px var(--primary-color--500);
}