.header {
    padding: var(--space--xl);
}

.site-logo {
    font-size: var(--heading--l);
    color: var(--black);
    letter-spacing: 5px;
}

.site-logo--color {
    color: var(--primary-color--500);
    font-weight: bold;
}

.logo-icon {
    margin-right: var(--space--xs);
    font-size: var(--display);
    background: var(--gradient-primary--500-700);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space--m)
}

.menu-item {
    position: relative;
    padding: var(--space--m);
    border: solid 2px var(--primary-color);
    color: var(--primary-color);
    background: none;
    font-size: var(--text--m);
    font-weight: bold;
    overflow: hidden;
    transition: color .3s ease-in-out;
}

.menu-item::before {
    content: '';
    position: absolute;
    inset: 0;
    top: 100%;
    background: var(--gradient-primary--500-700);
    transition: top .3s ease-in-out;
    z-index: -1;
}

.menu-item:hover,
.menu-item--active,
.menu-item:hover .menu-item-icon,
.menu-item--active .menu-item-icon {
    color: var(--white);
}

.menu-item:hover::before, .menu-item--active::before {
    top: 0%;
}

.menu-item:focus {
    outline: var(--border--m) var(--primary-color--500);
}

.menu-item-icon {
    margin-right: var(--space--xs);
    color: var(--primary-color--500);
    transition: color .3s ease-in-out;
}