.add-task-modal-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: #ffffff77;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
}

.add-task-modal {
    border: solid 1px #b8bcdd;
    border-radius: 10px;
    background: #fcfcfc;
    box-shadow: 5px 5px 8px #eeeeff;
    max-width:500px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 1.6rem;
    gap:20px;
}

.add-task-modal-label {
    margin: 12px 0;
}

.add-task-modal-input, .add-task-modal-select {
    width: 100%;
    border: none;
    outline: solid 1px #b8bcdd;
    border-radius: 6px;
    font-size: 1.6rem;
    padding: 10px 20px;
    transition: border .3s ease, background-color .3s ease;
}

.add-task-modal-input:focus {
    outline: solid 2px #a2a7d4;
    background-color: #eeeeff;
}

.add-task-modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add-task-modal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap:10px;
}

.add-task-modal-input-container {
    position: relative;
}

.add-task-modal-input-container .add-task-modal-clear {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    margin-right: 5px;
    top:50%;
    transform: translateY(-50%);
    color: rgb(192, 47, 36);
    border: none !important;
    background: none !important;
}

.add-task-modal-visible {
    display: flex;
}

.add-task-modal-hidden {
    display: none;
}