.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    border-bottom: solid 1px #b8bcdd;
}

.header-title {
    font-size: 6rem;
    font-family: 'Indie Flower', script;
}

.header-tagline {
    font-size: 2.4rem;
    font-weight: hariline;
   
}