:root {

    /* === COLORS === */

    --primary-color--100: #E9EDFF;
    --primary-color--200: #B5C0FF;
    --primary-color--300: #8997FF;
    --primary-color--400: #5B5EFF;
    --primary-color--500: #4436FF;
    --primary-color--600: #3813FF;
    --primary-color--700: #2C06EA;
    --primary-color--800: #25139C;
    --primary-color--900: #180C5A;
    
    --white: #fcfcfe;
    --black: #09042b;

     /* === GRADIENTS === */

    --gradient-background: linear-gradient(135deg, var(--white), var(--primary-color--100));

    /* === SUBTLE ===  */

    --gradient-primary--100-200: linear-gradient(135deg, var(--primary-color--100), var(--primary-color--200));
    --gradient-primary--200-300: linear-gradient(135deg, var(--primary-color--200), var(--primary-color--300));
    --gradient-primary--300-400: linear-gradient(135deg, var(--primary-color--300), var(--primary-color--400));
    --gradient-primary--400-500: linear-gradient(135deg, var(--primary-color--400), var(--primary-color--500));
    --gradient-primary--500-600: linear-gradient(135deg, var(--primary-color--500), var(--primary-color--600));
    --gradient-primary--600-700: linear-gradient(135deg, var(--primary-color--600), var(--primary-color--700));
    --gradient-primary--700-800: linear-gradient(135deg, var(--primary-color--700), var(--primary-color--800));
    --gradient-primary--800-900: linear-gradient(135deg, var(--primary-color--800), var(--primary-color--900));

    /* === MEDIUM ===  */

    --gradient-primary--100-300: linear-gradient(135deg, var(--primary-color--100), var(--primary-color--300));
    --gradient-primary--200-400: linear-gradient(135deg, var(--primary-color--200), var(--primary-color--400));
    --gradient-primary--300-500: linear-gradient(135deg, var(--primary-color--300), var(--primary-color--500));
    --gradient-primary--400-600: linear-gradient(135deg, var(--primary-color--400), var(--primary-color--600));
    --gradient-primary--500-700: linear-gradient(135deg, var(--primary-color--500), var(--primary-color--700));
    --gradient-primary--600-800: linear-gradient(135deg, var(--primary-color--600), var(--primary-color--800));
    --gradient-primary--700-900: linear-gradient(135deg, var(--primary-color--700), var(--primary-color--900));

    /* === CRUDE ===  */

    --gradient-primary--100-400: linear-gradient(135deg, var(--primary-color--100), var(--primary-color--400));
    --gradient-primary--200-500: linear-gradient(135deg, var(--primary-color--200), var(--primary-color--500));
    --gradient-primary--300-600: linear-gradient(135deg, var(--primary-color--300), var(--primary-color--600));
    --gradient-primary--400-700: linear-gradient(135deg, var(--primary-color--400), var(--primary-color--700));
    --gradient-primary--500-800: linear-gradient(135deg, var(--primary-color--500), var(--primary-color--800));
    --gradient-primary--600-900: linear-gradient(135deg, var(--primary-color--600), var(--primary-color--900));
   
  
     /* === SPACING === */

     --space--xs: 10px;
     --space--s: 15px;
     --space--m: 20px;
     --space--l: 25px;
     --space--xl: 30px;

     /* === BORDER/OUTLINE === */

     --border--xs: solid 1px;
     --border--s: solid 2px;
     --border--m: solid 3px;
     --border--l: solid 4px;
     --border--xl: solid 5px;

     /* === RADIUS === */
     
    --radius--xs: 5px;
    --radius--s: 10px;
    --radius--m: 15px;
    --radius--l: 20px;

    /* === FONTS === */

    --font--body: 'Inter', sans-serif;

    /* === FONT SIZE === */

    --text--xs: 1.2rem;
    --text--s: 1.4rem;
    --text--m: 1.6rem;
    --text--l: 1.8rem;

    --heading--xs: 2.4rem;
    --heading--s: 2.8rem;
    --heading--m: 3.2rem;
    --heading--l: 3.6rem;
    --heading--xl: 4rem;

    --display: 5rem;

  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    font-family: var(--font--body);
    background: var(--gradient-primary--100-200, 0.3);
    background-size: cover;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.app-wrapper {
    max-width: 1200px;
    margin: auto;
}

.backdrop-image {
    position: fixed;
    inset: 0;
    background:url('https://img.freepik.com/free-photo/desk-workspace-with-various-elements_23-2148043206.jpg?t=st=1729163287~exp=1729166887~hmac=5019f1bcb4fe721655496162c80e465d6792c089424b5b85f792054592845d56&w=1380') no-repeat center center / cover;
    z-index: -99999;
}

.backdrop-image::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--gradient-primary--100-200);
    opacity: 0.93;
}

.row {
    display: flex;
    align-items: center;
}

.row--flex-start {
    justify-content: flex-start;
}

.row--flex-center {
    justify-content: center;
}

.row--flex-space-around {
    justify-content: space-around;
}

.row--flex-space-between {
    justify-content: space-between;
}

.row-flex-end {
    justify-content: flex-end;
}