* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
}

.app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.button {
    padding:8px 16px;
    border: none;
    border-radius: 50px;
    font-size: 1.6rem;
    transition: filter 0.3s ease;
    cursor: pointer;
    background-color: #dfe2f8;
    border: solid 1px #b8bcdd;
}

.button:hover {
    filter: brightness(1.05);
}

.button {
    padding:8px 16px;
    border: none;
    border-radius: 50px;
    font-size: 1.6rem;
    transition: filter 0.3s ease;
    cursor: pointer;
    background-color: #dfe2f8;
    border: solid 1px #b8bcdd;
}

.button:hover {
    filter: brightness(1.05);
}

.button--primary {
    background-color:rgb(6, 30, 216);
    border: solid 1px rgb(6, 30, 216);
    color: white;
}

.button--danger {
    background-color:rgb(250, 217, 217);
    border: solid 1px rgb(192, 47, 36);
    color: rgb(192, 47, 36);
}
