:root {

    /* === COLORS === */

    --primary-color--100: #E9EDFF;
    --primary-color--200: #B5C0FF;
    --primary-color--300: #8997FF;
    --primary-color--400: #5B5EFF;
    --primary-color--500: #4436FF;
    --primary-color--600: #3813FF;
    --primary-color--700: #2C06EA;
    --primary-color--800: #25139C;
    --primary-color--900: #180C5A;
    --white: #fcfcfe;

     /* === GRADIENTS === */

    --gradient-primary--100-300: linear-gradient(135deg, var(--primary-color--100), var(--primary-color--300));
    --gradient-primary--300-500: linear-gradient(135deg, var(--primary-color--300), var(--primary-color--500));
    --gradient-primary--500-700: linear-gradient(135deg, var(--primary-color--500), var(--primary-color--700));
    --gradient-primary--700-900: linear-gradient(135deg, var(--primary-color--700), var(--primary-color--900));
  
     /* === SPACING === */

     --space--xs: 5px;
     --space--s: 10px;
     --space--m: 20px;
     --space--l: 30px;
     --space--xl: 50px;

     /* === RADIUS === */

  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(232, 62%, 83%);
    z-index: -999;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(232, 54%, 67%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(233, 95%, 44%);
}

.text-small {
    font-size: 1.4rem
}

.text-medium {
    font-size: 1.6rem;
}

.text-large {
    font-size: 1.8rem;
}