:root {
    --primary-color: #370cf3;
    --secondary-color: #2ecc71;
    --white: #fcfcfe;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(232, 62%, 83%);
    z-index: -999;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(232, 54%, 67%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(233, 95%, 44%);
}

.text-small {
    font-size: 1.4rem
}

.text-medium {
    font-size: 1.6rem;
}

.text-large {
    font-size: 1.8rem;
}