* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(232, 62%, 83%);
    z-index: -999;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(232, 54%, 67%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(233, 95%, 44%);
}

.app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
}

.error-message {
    color: rgb(192, 47, 36);
    font-size: 1.4rem;
    visibility: visible;
}

.error-message--hidden {
    visibility: hidden;
}

