.task{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.6rem;
    padding: 14px 20px;
}

.task-directional-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.task:nth-child(odd) {
    background-color:hsl(233, 95%, 95%);
}

.task:nth-child(even) {
    background-color:hsl(233, 95%, 97%);
}

.task-date {
    color: #555555;
}

.task-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    background: none;
    font-size: 2rem;
    color: #555555;
    cursor: pointer;
    padding: 12px;
}

.task-arrow:focus {
    outline: 2px solid hsl(233, 95%, 44%);
    border-radius: 50%;
}

.task-arrow:hover, .task-arrow:focus {
    color: hsl(233, 95%, 44%);
}
