.task{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.6rem;
    padding: 20px;
}

.task-directional-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.task:nth-child(odd) {
    background-color:#f4f4ff;
}

.task:nth-child(even) {
    background-color:#f9f9ff;
}

.task-date {
    color: #555555;
}

.task-button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1.6rem;
    transition: filter 0.3s ease;
    cursor: pointer;
    background-color: #dfe2f8;
    border: solid 1px #b8bcdd;
}

.task-button:hover {
    filter: brightness(1.05);
}

.task-button--done {
    background-color:rgb(6, 30, 216);
    border: solid 1px rgb(6, 30, 216);
    color: white;
}

.task-button--delete {
    background-color:rgb(250, 217, 217);
    border: solid 1px rgb(192, 47, 36);
    color: rgb(192, 47, 36);
}

.task-button-
